@import "tailwindcss";

/* horizontal scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c9ccd2;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9aa0a6;
}
